body {
  background-color: #404040;
  color: #fff;
  font-family: monospace;
}
input, button {
  margin-right: 20px;
  border: none;
  outline: none;
  height: 22px;
  vertical-align: middle;
  position: relative;
  border-radius: 22px;
  padding: 0 10px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.img-url {
  width: 380px;
}
.index, .cell {
  margin-bottom: 10px;
}
.cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cell-input {
  width: 30px;
}
#inf {
  color: rgb(52 182 81);
}
#inf.err {
  color: rgb(244 85 77);
}